body {
  background-color: #2196F3;
}

.jumbotron {
    color: black;
    background-color: white;
    padding: 50px;
    text-align: center;
    font-size: 36px;
}

/* .result {
    opacity: 0;
    z-index: -1;
} */
